body{
  font-family: "Jost";
}
* {
  margin: 0;
}
.top-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 39px;
}
.top-nav-links {
  display: flex;
  gap: 30px;
}
.top-nav-links a {
  color: var(--Gray-600, #5d6c7b);
  font-family: Jost;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.top-nav-number {
  display: flex;
  gap: 9px;
}
.top-nav-number p {
  color: var(--Black, #282739);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}
.links-img {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 53px;
}
.links-img a {
  text-decoration: none;
}
.links-img img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarchik hr {
  border: none;
  height: 1px;
  background: #ecf3ff;
}
.container-line {
  display: flex;
  flex-direction: column;
  gap: 2.5px;
  width: 13px;
}
.container-line:last-child {
  display: flex;
  justify-content: flex-end;
}
.line-long {
  background: var(--White, #fff);
  width: 100%;
  border-radius: 1px;
  height: 1px;
}
.line-short {
  background: var(--White, #fff);
  width: 50%;
  border-radius: 1px;
  height: 1px;
}
.center-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  margin-bottom: 35px;
}
.center-button-search {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 47%;
}

.center-button-search > button p {
  color: var(--White, #fff);
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}
.center-button-search > button {
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  gap: 13px;
  padding: 8px 18px;
  border: 1.5px solid #6f73ee;
  background: #6f73ee;
}
* {
  box-sizing: border-box;
}
.center-search {
  width: 100%;
}
form {
  position: relative;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.center-search input {
  display: flex;
  width: 88%;
  height: 42px;
  padding-left: 20px;

  border: none;
  border-radius: 5px;
  outline: none;
  justify-content: flex-end;

  color: var(--Gray-600, #5d6c7b);
}
.dropdown {
  top: 3px;
  left: 3px;
}

.btn {
  background-color: whitesmoke;
  border: none;
  color: gray;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.btn:hover {
  background-color: #6f73ee;
  color: #fff;
}
.form-button-last {
  position: absolute;
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: #6f73ee;
  /* border-radius: 0 5px 5px 0; */
  cursor: pointer;
}
.center-search select {
  position: absolute;
  left: 7px;
  top: 5px;
  width: 12%;
  height: 32px;
  border-radius: 5px;
  background: #f4f7fb;
  border: none;
}
.center-logo p {
  color: var(--Black, #282739);
  font-family: Jost;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}
.select {
  appearance: none;
  overflow: hidden;
  background: url("/img/Polygon\ 2.svg");
  border: none;
}
.form {
  border: 3px solid #6f73ee;
  border-radius: 7px;
  display: flex;
  justify-content: flex-end;
}
.links-search-heart {
  display: flex;
  gap: 12px;
}
.nav-links {
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 0;
  width: 60%;
}
.basket {
  display: flex;
  gap: 10px;
}
.basket a {
  text-decoration: none;
  color: var(--Black, #282739);
  font-family: Jost;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.bottom-nav {
  background: var(--Bachground, #f4f7fb);
  height: 40px;
  display: flex;
  align-items: center;
}
.bottom-nav-menu {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}
.menu-hamburger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.bottom-nav-menu a {
  color: var(--Black, #282739);
  text-decoration: none;
  font-family: Jost;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.blue-sale {
  border-radius: 300px;
  background: #6f73ee;
  color: #fff;
  height: 20px;
  padding: 2px 10px;
}
.blue-sale p {
  color: var(--White, #fff);
  font-family: Jost;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.bottom-sale {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.accessible-sale {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}
.ol-li {
  display: flex;
  gap: 8px;
}
.breadcrumb {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 1000px) {
  .center-nav {
    flex-wrap: wrap;
    margin-top: 15px;
  }
  .center-button-search {
    width: 440px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .form {
    width: 280px;
  }
  .center-search {
    width: 280px;
  }
  .center-search input {
    padding-left: 10px;
  }
  .form-button-last {
    width: 35px;
  }
  .top-nav {
    flex-wrap: wrap;
  }
  .top-nav-links {
    flex-wrap: wrap;
  }
}
.menu-hamburger {
  display: flex;
  align-items: center;
}
li {
  list-style: none;
}
.menu-hamburger li {
  padding: 5px 15px;
}
.menu-hamburger li a:hover {
  transition: all 0.3s;
  color: #6f73ee;
}
#checkbox_toggle {
  display: none;
}
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
.hamburger-line {
  background-color: #6f73ee;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}
.hamburger-line::before,
.hamburger-line::after {
  background-color: #6f73ee;
  content: "";
  display: block;
  position: absolute;
  transition: all 0.3s;
  width: 100%;
  height: 100%;
}
.hamburger-line::before {
  top: 7px;
}
.hamburger-line::after {
  top: -7px;
}
@media (max-width: 1300px) {
  .menu-hamburger li {
    padding: 1% 1%;
  }
}
@media (max-width: 1150px) {
  .nav-links {
    width: 70%;
  }
  .top-margin {
    margin-top: 80px;
  }
  .test-drive {
    height: 360px;
  }
}
@media (max-width: 1000px) {
  .nav-links {
    width: 80%;
  }
  .container-action-first {
    justify-content: center;
    gap: 10px;
  }
}

@media (max-width: 750px) {
  .menu-hamburger {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    background-color: #ecf3ff;
    text-align: center;
    right: 0;
    left: 0;
    margin-top: 40px;
    z-index: 1;
  }
  .menu-hamburger li a {
    color: #5d6c7b;
    display: block;
  }
  .menu-hamburger li {
    transition: all 0.5s;
  }
  .menu-hamburger li:hover {
  }
  #checkbox_toggle:checked ~ .menu-hamburger {
    display: block;
    max-height: 100%;
    transition: all 0.5s;
  }
  .hamburger {
    display: block;
    padding: 20px 0;
    text-align: center;
  }
  .test-drive {
    margin-top: 110px;
  }
  .nav-links {
    justify-content: flex-end;
  }
}
.container-card{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.img-container-card{
    min-width: 300px;
}
.images-card{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.img  img{
    border-radius: 5px;
    background: #C4C4C4;
    width: 100%;
}
.main-img-card{
    padding: 15px;
    background: #F0F1F5;
    border-radius: 10px;
}
.main-img-card img{
    width: 100%;
}
.title-text-container{
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 600px;
    margin-bottom: 20px;
}
.text-container-card{
    width: 600px;
}
.title-text-container p{
    color: var(--Gray-600, #5D6C7B);

    /* 12 px (regular) */
    font-family: Jost;
    font-size: 12px;
    margin: 5px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: .7;
}
.text-credit-text-card p:first-child{
    color: var(--Gray-600, #5D6C7B);
    font-family: Jost;
    font-size: 12px;
    font-style: normal;
    margin: 0;
    font-weight: 400;
    line-height: normal;
}
.text-credit-text-card p:last-child{
    color: var(--Black, #282739);
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    line-height: normal;
}
.title-text-card h3{
    color: var(--Black, #282739);
    font-family: Jost;
    font-size: 35px;
    margin: 0;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.tools-container-text-card{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    gap: 40px;
}
.tools-text-card{
    display: flex;
    gap: 10px;
    align-items: center;
}

.tools-text-card p{
    color: var(--Black, #282739);
    /* 14 px (regular) */
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    margin: 0;
    font-weight: 400;
    line-height: normal;
}

.price-container-text-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price-text-card p:last-child{
    color: var(--Black, #282739);
    font-family: Jost;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.price-text-card p:first-child{
    color: var(--Gray-600, #5D6C7B);
font-family: Jost;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration:line-through;
margin: 0;
}
.credit-text-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 5px 14px;
    gap: 9px;
    background: var(--Bachground, #F4F7FB);
}
.green-img-card{
    width: 91px;
    height: 25px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: #75D14A;
}
.green-img-card p{
    color: var(--White, #FFF);
    text-align: center;
    /* 12 px (medium) */
    font-family: Jost;
    font-size: 12px;
    margin: 0;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.button-complited-text-card{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.button-complited-text-card button{
    transition: background .3s ease-in-out;
}
.button-complited-text-card button:hover{
    background: #d0d2d4;
}
.button-complited-text-card button:focus{
    border: 1.5px solid var(--gray-200, #6F73EE);
}
.btn-complited{
    width: 40%;
    min-width: 110px;
    height: 80px;
    border-radius: 10px;
    border: 1.5px solid var(--gray-200, #EAEBED);
    
}
.btn-complited-vip{
    width: 40%;
    min-width: 110px;
    height: 80px;
    border-radius: 10px;
     border: 1.5px solid var(--gray-200, #EAEBED);
    
}
.button-guarantee-text-card{
    display: flex;
    flex-wrap: wrap;
    gap :20px;
    align-items: center;
}
.button-guarantee-text-card button:focus{
    border: 1.5px solid var(--gray-200, #6F73EE);
}
.button-guarantee-text-card button{
    transition: background .3s ease-in-out;
}
.button-guarantee-text-card button:hover{
    background: #d0d2d4;
}

.btn-guaranee{
    border-radius: 10px;
    padding: 18px 40px;
    border: 1.5px solid var(--gray-200, #EAEBED);
}
.btn-guaranee p:first-child{
    color: var(--Black, #282739);
    text-align: center;
    font-family: Jost;
    margin: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.btn-guaranee p:last-child{
    color: var(--Gray-600, #5D6C7B);
    text-align: center;
    margin: 0;
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.container-price-text-card{
    margin-top: 30px;
    padding: 20px 30px;
    border-radius: 10px;
    background: var(--Bachground, #F4F7FB);
}
.price-last-text-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price-last-text-card p{
    color: var(--Black, #282739);
font-family: Jost;
font-size: 35px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin: 0;
}
.price-last-text-card p span{
    color: var(--Black, #282739);
font-family: Jost;
font-size: 35px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.ellipse{
    width: 40px;
    height: 40px;
    stroke-width: 1.3px;
    stroke: var(--gray-200, #EAEBED);
    display: flex;
    align-items: center;
    justify-content: center;
}
.express-text-card{
    display: flex;
    gap:17px;

}
.express-text-card p{
    color: var(--Black, #282739);
font-family: Jost;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 125% */
}
.express-text-card p span{
    color: var(--Black, #282739);
font-family: Jost;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}
.express-text-card img{
    height: 22px;
}
.price-button-text-card{
    display: flex;
    gap: 30px;
    align-items: center;
}
.price-button-text-card button:first-child{
    display: flex;
width: 197px;
padding: 15px 25px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 5px;
background: var(--Purple, #6F73EE);
border: none;
color: #FFF;
}
.price-button-text-card button:last-child{
    display: flex;
width: 197px;
padding: 15px 25px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 5px;
border: 1.3px solid var(--Purple, #6F73EE);
color: #6F73EE;
}





@media(max-width: 500px){
    .title-text-card h3{
        text-align: center;
    }
    .tools-container-text-card{
        gap: 10px;
        justify-content: space-evenly;
    }
    .price-container-text-card{
        justify-content: space-evenly;
    }
    .text-container-card{
        width: 400px;
    }
}
@media(max-width: 430px){
    .title-text-card h3{
        text-align: center;
    }
    .tools-container-text-card{
        gap: 10px;
        justify-content: space-evenly;
    }
    .price-container-text-card{
        justify-content: space-evenly;
    }
    .text-container-card{
        width: 330px;
    }
}
@media(max-width: 360px){
    .title-text-card h3{
        text-align: center;
    }
    .tools-container-text-card{
        gap: 10px;
        justify-content: space-evenly;
    }
    .price-container-text-card{
        justify-content: space-evenly;
    }
    .text-container-card{
        width: 260px;
    }
}
.footer{
    padding-top: 100px;
    padding-bottom: 20px;
    background: var(--Bachground, #F4F7FB);
}
.container-footer{
    width: 70%;
    margin: 0 auto;

}
.top-foot{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 40px;
    flex-wrap: wrap;
    
}
.left-top-foot{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 60px;
}
.catalog-left-top-foot h4{
    color: var(--Black, #282739);
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 17px;
    line-height: normal;
}
.catalog-left-top-foot p{
    color: var(--Gray-600, #5D6C7B);
    font-family: Jost;
    margin: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.text-left-top-foot p{
    color: var(--Gray-600, #5D6C7B);
    font-family: Jost;
    margin: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.text-left-top-foot{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.blog-text-left-top-foot{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.blog-text-left-top-foot p{
    color: var(--Gray-600, #5D6C7B);
    font-family: Jost;
    margin: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.consumers-left-top-foot h4{
    color: var(--Black, #282739);
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    margin-bottom: 17px;
    line-height: normal;
}
.container-consumers-left-top-foot{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.consumers-left-top-foot{
    
    justify-content: space-between;
}
.container-text-left-top-foot{
    display: flex;
    gap: 40px;
}
.container-text-left1-top-foot{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}
.container-text-left1-top-foot a{
    text-decoration: none;
    color: var(--Gray-600, #5D6C7B);
    /* 14 px (regular) */
    font-family: Jost;
    font-size: 14px;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.right-top-foot{
    width: 47%;
}
.contacts-right-top-foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-center-right-top-foot{
    display: flex;
    align-items: center;
    gap: 70px;
}
.container-shops-right-top-foot{
    display: flex;
    margin-top: 20px;
    gap: 80px;
}
.contacts-right-top-foot h4{
    color: var(--Black, #282739);
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.contacts-right-top-foot a{
    color: var(--Purple, #6F73EE);
    font-family: Jost;
    font-size: 12px;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    line-height: normal;
}
.center-right-top-foot p:first-child{
    color: var(--Black, #282739);
    /* 12 px (regular) */
    font-family: Jost;
    font-size: 12px;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.center-right-top-foot h4{
    color: var(--Black, #282739);
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.center-right-top-foot p:last-child{
    color: var(--Gray-600, #5D6C7B);
    font-family: Jost;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.shops-right-top-foot{
    color: var(--Black, #282739);
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 128.5%; /* 17.99px */
}
.shops-right-top-foot h5{
    color: var(--Black, #282739);
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 128.5%; /* 17.99px */
}
.shops-right-top-foot p{
    color: var(--Gray-600, #5D6C7B);
    /* 12 px (regular) */
    font-family: Jost;
    margin: 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.mid-foot{
    gap: 20px;
    margin: 40px 0 30px 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-mid-foot-logo-plat{
    display: flex;
    align-items: center;
    gap: 60px;
}
.left-logo-mid-foot p{
    color: var(--Black, #282739);
    font-family: Jost;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    line-height: normal;
    text-transform: uppercase;
}
.right-mid-foot-social{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}
.card-foot-mid-social{
    width: 123px;
    height: 45px;
    border-radius: 5px;
    background: var(--White, #FFF);
    display: flex;
    justify-content: center;
    gap: 13px;
    align-items: center;
}
.text-social-mid p{
    color: var(--Gray-600, #5D6C7B);
    font-family: Jost;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}
.text-social-mid h6{
    color: var(--Black, #282739);
    /* 14 px (medium) */
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}
.bot-foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.text-left-bot-foot{
    display: flex;
    align-items: center;
    gap: 44px;
    justify-content: center;
}
.container-card-right-bot-foot{
    display: flex;
    align-items: center;
    gap: 4px;
}
.right-bot-foot{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}
.card-right-bot-foot{
    width: 34.077px;
    height: 23.367px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.online-right-bot-foot {
    display: flex;
    align-items: center;
    gap: 15px;
}
.online-right-bot-foot p{
    color: var(--Black, #282739);
    /* 14 px (regular) */
    font-family: Jost;
    margin: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.social-right-bot-foot{
    display: flex;
    justify-content: space-between;
    gap: 6px;
}
@media(max-width:1308px){
    .right-top-foot{
        width: 100%;
        justify-content: space-between;
    }
    .container-shops-right-top-foot{
        gap: 40px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media(max-width:687px){
    .left-mid-foot-logo-plat{
        gap: 10px;
        flex-wrap: wrap;
    }
    .plat-left-mid-foot{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
}

@media(max-width: 470px){
    .container-shops-right-top-foot{
        justify-content: center;
    }
    .contain-form input{
        width: 90%;
    }
    .container-card-right-bot-foot{
        flex-wrap: wrap;
    }
    .text-left-bot-foot {
        margin-bottom: 12px;
        flex-wrap: wrap;
        gap: 15px;
    }
    .text-action-first h2{
        font-size: 6vw;
    }
    
}
.blue-form{
    background-color: #6F73EE;
    padding: 20px 0 20px 0;
    margin-top: 100px;
    display: flex;
    align-items: center;
}
.container-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
}
.contain-form{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.contain-form input{
    width: 300px;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.20);
}
input[value="Введите Ваш email"]{
    color: #FFF;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contain-form button{
    padding: 15px 25px;
    border-radius: 5px;
    background: var(--White, #FFF);
    color: var(--Purple, #6F73EE);
    text-align: center;
    font-family: Jost;
    border: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-form h4{
    color: var(--White, #FFF);
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    line-height: normal;
    text-transform: uppercase;
}
@media(max-width: 1448px){
    .container-form{
        justify-content: center;
    }
}
@media(max-width: 640px){
    .contain-form{
        flex-wrap: wrap;
    }
    .text-form h4{
      font-size: 14px;
    }
    .contain-form input{
      padding: 9px 9px;
      width: 250px;
    }
    .contain-form button{
      padding: 9px 5px;
    }
}
@media(max-width:340px){
    .text-form h4{
      font-size: 11px;
    }
}
